@font-face {
    font-family: '국립박물관문화재단클래식L';
    src: url('./국립박물관문화재단클래식/국립박물관문화재단클래식L.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: '국립박물관문화재단클래식M';
    src: url('./국립박물관문화재단클래식/국립박물관문화재단클래식M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('./국립박물관문화재단클래식/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}